{include file="../../../application/admin/view/public/head" /}
<div class="page-container p10">
    <div class="my-toolbar-box">
        <div class="layui-btn-group">
            <a data-href="{:url('add')}" class="layui-btn layui-btn-primary j-iframe"><i class="layui-icon">&#xe654;</i>添加</a>
            <a data-href="{:url('import')}" class="layui-btn layui-btn-primary layui-upload" ><i class="layui-icon">&#xe654;</i>导入</a>
            <!-- <a data-href="{:url('export')}" class="layui-btn layui-btn-primary j-page-btns confirm"><i class="layui-icon">&#xe640;</i>导出</a> -->
            <!-- <a data-href="{:url('add')}" class="layui-btn layui-btn-primary j-page-btns confirm"><i class="layui-icon">&#xe640;</i>添加</a> -->
            <!-- <a data-href="{:url('save')}" class="layui-btn layui-btn-primary j-page-btns confirm"><i class="layui-icon">&#xe640;</i>保存</a> -->
        </div>
    </div>
    <form class="layui-form " method="post" id="pageListForm">
        <table class="layui-table" lay-size="sm">
            <thead>
            <tr>
                <th width="20"><input type="checkbox" lay-skin="primary" lay-filter="allChoose"></th>
                <th width="25">编号</th>
                <th width="50">域名</th>
                <th width="100">网站名称</th>
                <th width="100">关键字</th>
                <th width="200">描述</th>
                <th width="60">PC模板</th>
                <!-- <th width="100">手机模板</th> -->
                <!-- <th width="100">网站目录</th> -->
                <!-- <th width="100">广告目录</th> -->
                <th width="60">操作</th>
            </tr>
            </thead>
            {volist name="domain_list" id="vo"}
            <tr>
                <td><input type="checkbox" name="ids[]" value="{$key}" class="layui-checkbox checkbox-ids" lay-skin="primary"></td>
                <td>{$i}</td>
                <td>{$vo.site_url} </td>
                <td>{$vo.site_name}</td>
                <td>{$vo.site_keywords}</td>
                <td>{$vo.site_description}</td>
                <td><center>{$vo.template_dir}</center></td>
                <!-- <td><center>{$vo.mob_template_dir}</center></td> -->
                <!-- <td><center>{$vo.html_dir}</center></td> -->
                <!-- <td><center>{$vo.ads_dir}</center></td> -->
                <td><center>
                    <!-- URL规则 -->
                    <a class="layui-badge-rim j-iframe" data-href="{:url('configurl?id='.$vo['site_url'])}" href="javascript:;" title="编辑">URL规则</a>
                    <a class="layui-badge-rim j-iframe" data-href="{:url('configseo?id='.$vo['site_url'])}" href="javascript:;" title="编辑">SEO配置</a>
                    <a class="layui-badge-rim j-iframe" data-href="{:url('add?id='.$vo['site_url'])}" data-width="800px" data-height="610px" href="javascript:;" title="编辑">编辑</a>
                    <a class="layui-badge-rim j-tr-del" data-href="{:url('del?ids='.$vo['site_url'])}" href="javascript:;" title="删除">删除</a>
                    </center>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>        
        <div id="pages" class="center"></div>
    </form>
</div>

{include file="../../../application/admin/view/public/foot" /}

<script type="text/javascript">
    layui.use(['form','laypage', 'layer','upload'], function() {
        // 操作对象
        var form = layui.form
                , layer = layui.layer
                , $ = layui.jquery
                , upload = layui.upload;

        upload.render({
            elem: '.layui-upload'
            ,url: "{:url('import')}"
            ,method: 'post'
            ,exts:'txt'
            ,before: function(input) {
                layer.msg('文件上传中...', {time:3000000});
            },done: function(res, index, upload) {
                var obj = this.item;
                if (res.code == 0) {
                    layer.msg(res.msg);
                    return false;
                }
                location.reload();
            }
        });

    });    
</script>
</body>
</html>